{% extends 'base.html.twig' %}

{% block title %}Edit Sorties{% endblock %}

{% block body %}
    <h1>Edit Sorties</h1>

    {{ include('sorties/form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sorties/index') }}">back to list</a>

    {{ include('sorties/delete_form.html.twig') }}
{% endblock %}
