
{% extends 'base.html.twig' %}{% block title %}Interdit{% endblock %}
{% block body %}
    <h1 >NON</h1>
    <img src="{{ asset('images/mike.png') }}"  style="width: 250px; height: 250px ; display: block; margin-left: auto; margin-right: auto; text-align:center " alt="403">

    <p style ="display: block; margin-left: auto; margin-right: auto; text-align:center"> retour a l'acceuil  </p>
{% endblock %}
