
{% extends 'base.html.twig' %}
{% block title %}paff{% endblock %}

{% block body %}
    <h1 >ça marche po</h1>
    <img src="{{ asset('images/mike404.png') }}"  style="width: 250px; height: 250px ; display: block; margin-left: auto; margin-right: auto; text-align:center " alt="404">

    <p style ="display: block; margin-left: auto; margin-right: auto; text-align:center"> retour a l'acceuil  </p>
{% endblock %}
